body {
    font-family: 'Vollkorn', serif;
    font size: 16px;
    color: #FFD700;
    background-color: #484848;
}

.column {
    width: 31%;
    min-width: 170px;
    height: 100%;
    vertical-align: top;
    margin: 1%;
}

.fullScreenDiv {
    width: calc(98% - 12px);
    margin: 1%;
}

.container {
    border-radius: 5px;
    border: 2px solid black;
    background-color: #778899;
    padding: 4px;
    position: relative;
    overflow-y: auto
}

.button {
    font: 16px Vollkorn;
    background-color: #778899;
	border: none;
	display: inline-flex;
	cursor: pointer;
	color: #FFFF00;
    padding: 0px 0px;
    margin: 0px 0px;
}
.button:hover {
	background-color: #696969;
}
.button:active {
    position: relative;
	top: 1px;
}

.button:disabled {
    background-color: #778899;
	border: none;
	display: inline-flex;
	cursor: default;
	color: #FFD700;
}

.smallButton {
    font: 12px Vollkorn;
    background-color: #778899;
	border: none;
	display: inline-flex;
	cursor: pointer;
	color: #FFFF00;
    padding: 0px 0px;
    margin: 0px 0px;
}
.smallButton:hover {
	background-color: grey;
}
.smallButton:active {
    position: relative;
	top: 1px;
}

.smallButton:disabled {
    background-color: #778899;
	border: none;
	display: inline-flex;
	cursor: default;
	color: #FFD700;
}

.header {
    font-weight: bold;
    color: #008080;
}

.cost {
    font: 12px Vollkorn;
    text-indent: 20px;
}

.status {
    font: 12px Vollkorn;
    text-indent: 20px;
}

.clock {
    font: 12px Vollkorn;
    text-indent: 20px;
}

#statusBar {
    visibility: hidden;
    top:0;
    height: 40px;
}

#bottomBar {
    position:absolute;
    left: 0;
    bottom:0;
    height: 40px;
}

#scrapbot {
    visibility: hidden;
}

#grinder {
    visibility: hidden;
}

#constructo {
    visibility: hidden;
}

#tech {
    visibility: hidden;
}

#electricSheep {
    visibility: hidden;
}

#discoveries {
    visibility: hidden;
}

#land {
    visibility: hidden;
}

#dog {
    visibility: hidden;
}

#toaster {
    visibility: hidden;
}

#pumpjack {
    visibility: hidden;
}

#concrete {
    visibility: hidden;
}

#girder {
    visibility: hidden;
}

#oil {
    visibility: hidden;
}