body {
    font-family: 'Vollkorn', serif;
    font size: 16px;
    color: #009999;
    padding: 2px;
    margin: 15px;
    background-color: #484848;
}
.header {
    font-weight: bold;
}

.column {
    width: 32%;
    height: 100%;
    vertical-align: top;
    margin: 0.66%;
}

.container {
    height: 48%;
}

.fullScreenDiv {
    width: calc (98%-12px);
    margin: 1%;
}

div.container {
    height: 140px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #D6C2FF;
    padding: 4px;
    position: relative;
    overflow-y: auto
}

.cost {
    font: 12px Vollkorn;
    text-indent: 20px;
}

.status {
    font: 12px Vollkorn;
    text-indent: 20px;
}

.clock {
    font: 12px Vollkorn;
    text-indent: 20px;
}

.button {
    font: 16px Vollkorn;
    background-color: #484848;
	border: none;
	display: inline-flex;
	cursor: pointer;
	color: cyan;
    padding: 0px 0px;
    margin: 0px 0px;
}
.button:hover {
	background-color: grey;
}
.button:active {
    position: relative;
	top: 1px;
}

.button:disabled {
    background-color: #484848;
	border: none;
	display: inline-flex;
	cursor: default;
	color: #009999;
}

.smallButton {
    font: 12px Vollkorn;
    background-color: #484848;
	border: none;
	display: inline-flex;
	cursor: pointer;
	color: cyan;
    padding: 0px 0px;
    margin: 0px 0px;
}
.smallButton:hover {
	background-color: grey;
}
.smallButton:active {
    position: relative;
	top: 1px;
}

.smallButton:disabled {
    background-color: #484848;
	border: none;
	display: inline-flex;
	cursor: default;
	color: #009999;
}

#statusBar {
   /* visibility: hidden;*/
}

#scrapbot {
    visibility: hidden;
}

#grinder {
    visibility: hidden;
}

#constructo {
    visibility: hidden;
}

#tech {
    visibility: hidden;
}

#electricSheep {
    visibility: hidden;
}

#discoveries {
    visibility: hidden;
}

#land {
    visibility: hidden;
}

#dog {
    visibility: hidden;
}

#toaster {
    visibility: hidden;
}

#pumpjack {
    visibility: hidden;
}

#concrete {
    visibility: hidden;
}

#girder {
    visibility: hidden;
}

#oil {
    visibility: hidden;
}